<div class="container">
    <div class="start-game" *ngIf="!gameStarted">
        <div class="logo__container">
            <img src="/assets/TypeFighterLogo.png" alt="logo" class="logo">
        </div>
        <div class="start-button">
            <button (click)="startGame()" class="start-button__button">PLAY</button>
        </div>
    </div>
    <div *ngIf="gameStarted">
        <div class="healthbar-container">
            <div class="healthbar">
                <div class="healthbar__health" [style]="{width: health + '%'}"></div>
            </div>
        </div>
        <div class="boss">
            <img src="/assets/boss.png" alt="boss" class="boss__image">
        </div>
        <div class="word-typer-container">
            <div class="char-wrapper" #wordContainer>
                <div *ngFor="let char of word.split('')">
                    <div class="char-container"><p class="char">{{char.toUpperCase()}}</p></div>
                </div>
            </div>
        </div>
        <div class="falling-word" #fallingWord>
            <div class="word">
                <p>{{word}}</p>
            </div>
        </div>
        <div class="points">
            <p>Points: {{points}}</p>
        </div>
    </div>
    <div class="lost" *ngIf="this.gameFinished">
        <div class="lost__container">
            <p>Game Over!</p>
            <p>Total points: {{points}}</p>
        </div>
    </div>
</div>
